body {
    font-family: JetBrains Mono;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.upperSection {
    display: flex;
    margin-bottom: 20px;
}

.image {
    flex: 1;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.titleTags {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    padding: 20px;
}

.title {
    font-size: 44px;
    margin: 0;
    padding-top: 20px;
}

.tags {
    margin-top: 10px;
    color: #888;
}

.lowerSection {
    display: flex;
}

.instructions, .ingredients {
    flex: 1;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.instructions {
    margin-right: 40px;
}

h2 {
    margin-top: 0;
}

.ingredients ul {
    list-style-type: none;
    padding: 0;
}

.ingredients li {
    display: block;
    margin-bottom: 5px;
    max-width: 100%;
}

.space {
    padding: 30px;
}

.tag {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 5px;
    display: inline-block;
}

.tag-vegan {
    background-color: #a8e6cf;
    color: #2e7d32;
}

.tag-gluten-free {
    background-color: #ffd3b6;
    color: #d84315;
}

.tag-dairy-free {
    background-color: #ff8b94;
    color: #c62828;
}

.tag-low-carb {
    background-color: #dcedc1;
    color: #558b2f;
}

.tag-paleo {
    background-color: #ffcc80;
    color: #ef6c00;
}

.tag-keto {
    background-color: #b3e5fc;
    color: #0277bd;
}

* {
    font-family: JetBrains Mono;
}
